---
layout: bootcamp
root: .
venue: Coalition Impact
address: 405 W Superior Street, Chicago, IL 60654
country: United-States
humandate: May 27 - June 1, 2015
humantime: 9:00 am - 5:30 pm
startdate: 2015-05-27
enddate: 2015-06-01
registration: restricted
instructor: ["Matt Gee", "Rayid Ghani", "Joe Walsh"]
helpers: ["Dav Clark", "Nick Eng","Carl Chan","Eric Potash"]
contact: mattgee@uchicago.edu
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<h2>General Information</h2>

<p>
  The goal of the DSSG Bootcamp is to ensure that every fellow can perform essential data science tasks with a standard set of tools. Fellows will get more done in less
  time and with less pain by teaching if they all know basic skills for
  data mangement, analysis, and visualization.  This hands-on, collaborative workshop will cover basic
  concepts and tools as teams or learners work on a real-world data project for the City of Chicago.  Participants are encouraged tohelp one another throughout the training and to apply what they have learned to their summer projects. Much of the material in this workshop we have modified
  from the fantastic course materials developed by Software Carpentry, Data Carpentry
  and the Coalition for Open Data Education.

</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}
{% if page.helpers %}
<p>
  <strong>Helpers:</strong>
  {{page.helpers | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at Data Science for Social Good fellows and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<p>
  <h2>Resources</h2>
</p>
<p>
  The main bootcamp task and resource list can be found on <a href="https://hackpad.com/DSSG-2015-Bootcamp-Resources-oSt57twcmfY">this hackpad</a>.
</p>
<p>
  The bootcamp project description and data is in <a href="https://github.com/dssg/data-challenges/tree/master/BuildingInspections">this github repository</a>.
</p>
<p>
  The example code for each of the learning modules is in <a href="https://github.com/dssg/dssg-training-workshop-2015">this github repository</a>.
</p>
<p>
  The team list is <a href="https://docs.google.com/document/d/1ELyt6Yxkori6nRKcU-DL8NrYjEY_CkjQQvUbQf8SpUg/edit">here</a>.
</p>


<hr/>
<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Wednesday</td>  <td>8:00</td>   <td>Optional computer setup session</td> </tr>
  <tr> <td></td>        <td>9:00</td>   <td>Donuts and Coffee</td> </tr>
  <tr> <td></td>        <td>9:30</td>   <td>Intro to Learning at DSSG</td> </tr>
  <tr> <td></td>        <td>10:00</td>   <td>Introduction to Project Inspector Gadget (<a href="https://github.com/dssg/dssg-training-workshop-2015">Project Github Repository</a>)</td> </tr>
  <tr> <td></td>        <td>10:30</td>   <td>Data Science Project Lifecycle</td> </tr>
  <tr> <td></td>        <td>11:00</td>   <td>Break</td> </tr>
  <tr> <td></td>        <td>11:15</td>   <td>Principles and Tools for Collaboration in Data Science</td> </tr>
  <tr> <td></td>        <td>11:15</td>   <td>Team Breakout: Getting Started with Github</td> </tr>
  <tr> <td></td>        <td>12:30</td>   <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>1:30</td>    <td>Getting Data</td> </tr>
  <tr> <td></td>        <td>2:00</td>    <td>Working with data in the commandline</td> </tr>
  <tr> <td></td>        <td>2:30</td>    <td>Working with data in SQL</td> </tr> 
  <tr> <td></td>        <td>4:30</td>    <td>Daily wrapup / War Stories</td> </tr> 

  <tr> <td>Thursday</td> <td>09:30</td>   <td>Recap of data science lifecycle & yesterday's progress</td> </tr>
  <tr> <td></td>        <td>10:00</td>   <td>Intro to Python for data</td> </tr>
  <tr> <td></td>        <td>11:00</td>   <td>Intro to R</td> </tr>
  <tr> <td></td>        <td>12:00</td>   <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>1:00</td>    <td>Team breakout: Data description and exploration</td> </tr>
  <tr> <td></td>        <td>2:00</td>    <td>Sharing & code review on github</td> </tr>
  <tr> <td></td>        <td>2:30</td>    <td>Feature brainstorming</td> </tr>
  <tr> <td></td>        <td>3:15</td>    <td>Team breakout: Feature generation</td> </tr>
  <tr> <td></td>        <td>4:30</td>    <td>Team breakout: Model building part 1</td> </tr>
  <tr> <td></td>        <td>4:30</td>    <td>Daily wrapup / War Stories</td> </tr>  

  <tr> <td>Friday</td> <td>09:00</td> <td>Recap of data science lifecycle & yesterday's progress</td> </tr>
  <tr> <td></td>        <td>10:00</td>   <td>Introduction to model evaluation</td> </tr>
  <tr> <td></td>        <td>11:00</td>   <td>Team breakout: Planning model improvements</td> </tr>
  <tr> <td></td>        <td>12:00</td>   <td>Lunch Speaker</td> </tr>
  <tr> <td></td>        <td>1:00-8:00</td>    <td>Scavenger Hunt!</td> </tr>


  <tr> <td>Monday</td> <td>9:30</td>   <td>Recap of data science lifecycle & progress from last week</td> </tr>
  <tr> <td></td>        <td>10:00</td>  <td> Intro to AWS / Deploying models in production </td></tr> 
  <tr> <td></td>        <td>11:00</td>   <td>Team breakout: Deploying models</td> </tr>
  <tr> <td></td>        <td>12:00</td>   <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>1:00</td>   <td>Intro to visualization and communication</td> </tr>
  <tr> <td></td>        <td>1:30</td>   <td>Team breakouts: Visualization and Communication</td> </tr>
  <tr> <td></td>        <td>2:15</td>   <td>Intro to project managment and documentation</td> </tr>
  <tr> <td></td>        <td>2:45</td>   <td>Team breakouts: Project documentation</td> </tr>  
  <tr> <td></td>        <td>3:30</td>   <td>Break</td> </tr> 
  <tr> <td></td>        <td>3:45-5:30</td>    <td>Project Deep Dives</td> </tr>
 
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in the DSSG Data Bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
