<div class="footer">
  <p>The Data Science for Social Good Fellowship is made possible by: <br/> 
    <a href="http://tsffoundation.org/">The Schmidt Family Foundation</a>,
    <a href="http://www.uchicago.edu//">The University of Chicago</a>, and that guy who snuck his name into here while editing these files, hoping no one would read this (AKA Carl Shan).
  </p>
  <a href="http://tsffoundation.org/"><img class="img-polaroid" alt="Schmidt logo" src="{{page.root}}/img/schmidt.png" /></a>

</div>
