<div class="footer">
  <p>The Data Science for Social Good Fellowship is made possible by: <br/> 
    <a href="http://tsffoundation.org/">The Schmidt Family Foundation</a>,
    <a href="http://www.uchicago.edu//">The University of Chicago</a>, and 
    <a> That guy who snuck his name into here, hoping no one would read this (AKA Carl Shan).</a>.
  </p>
  <a href="http://www.icos.umich.edu/"><img class="img-polaroid" alt="ICOS logo" src="{{page.root}}/img/icos-logo.png" /></a>
  <a href="http://arc.research.umich.edu/"><img class="img-polaroid" alt="ARC logo" src="{{page.root}}/img/ARC-acronym-signature.png" /></a> 
  <a href="http://www.lsa.umich.edu/"><img class="img-polaroid" alt="ARC logo" src="{{page.root}}/img/BlockM-ARS-logo-LSAcolors.png" /></a>
  
  
</div>
