<div class="footer">
  <p>The ICOS Big Data Summer Camp is made possible by the <br/> 
    <a href="http://www.icos.umich.edu/">Interdisciplinary Committee on Organizational Studies</a>,
    <a href="http://arc.research.umich.edu/">Advanced Research Computing</a>, and 
    <a href="http://www.lsa.umich.edu/"> LSA Advocacy and Support</a>.
  </p>
  <a href="http://www.icos.umich.edu/"><img class="img-polaroid" alt="ICOS logo" src="{{page.root}}/img/icos-logo.png" /></a>
  <a href="http://arc.research.umich.edu/"><img class="img-polaroid" alt="ARC logo" src="{{page.root}}/img/ARC-acronym-signature.png" /></a> 
  <a href="http://www.lsa.umich.edu/"><img class="img-polaroid" alt="ARC logo" src="{{page.root}}/img/BlockM-ARS-logo-LSAcolors.png" /></a>
  
  
</div>
